.container{
  text-align: center;
  padding: 5px;
  margin: auto;
  margin-top: 10%;
  background-color: #b1cbbb;
  width: 20%;
  border-radius: 20px;
}

h2{
  font-size: 55px;
  color: #c94c4c;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button{
  margin: 10px;
}

.btn{
  border-radius: 20px;
}

body{
  background-color: #034f84;
}